<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126297073825-ai8bhn5jsvqtf40t4090h3o2l5niar6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126297073825-ai8bhn5jsvqtf40t4090h3o2l5niar6b</string>
	<key>API_KEY</key>
	<string>AIzaSyABN9D1EsboU6voz97yppYgFee94f1Ifek</string>
	<key>GCM_SENDER_ID</key>
	<string>126297073825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>verbeirregulieranglais.com.example.verbeIrregulierAnglais</string>
	<key>PROJECT_ID</key>
	<string>vireg-8c22f</string>
	<key>STORAGE_BUCKET</key>
	<string>vireg-8c22f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126297073825:ios:4f5899ffdaea0cb35768e0</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1439580806237607~9547480088</string>
</dict>
</plist>